.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

#AboutMe {
  flex-grow 2;
}

#largeimg {
  width: 70%;
  flex-grow 1;
}

body {
  background-color: #C9C9C9;
  font-family: 'Roboto', sans-serif;
}

nav {

  text-align: center;
  z-index: 9999;
  width:75%;
  margin: 0 auto;
}

nav ul {
background-color: #89bdd3;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  flex-wrap:wrap;
}

nav ul li {
  list-style: none;
  position: relative;
  flex: 1 0 auto;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  color: #000;
  display: block;
}

nav ul li:hover {
  background-color: #9ad3de;
}

.userPhoto {
  width: 300px;
  height:auto;
}
